In [35]:
import numpy as np
import pandas as pd

In [36]:
from sklearn import metrics

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
from sklearn import svm

In [39]:
from sklearn.tree import DecisionTreeClassifier

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
iris = pd.read_csv('iris.csv')

In [42]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [43]:
train,test = train_test_split(iris,test_size=0.25)

In [44]:
train

     sepal.length  sepal.width  petal.length  petal.width     variety
23            5.1          3.3           1.7          0.5      Setosa
68            6.2          2.2           4.5          1.5  Versicolor
107           7.3          2.9           6.3          1.8   Virginica
2             4.7          3.2           1.3          0.2      Setosa
58            6.6          2.9           4.6          1.3  Versicolor
..            ...          ...           ...          ...         ...
125           7.2          3.2           6.0          1.8   Virginica
36            5.5          3.5           1.3          0.2      Setosa
149           5.9          3.0           5.1          1.8   Virginica
80            5.5          2.4           3.8          1.1  Versicolor
124           6.7          3.3           5.7          2.1   Virginica

[112 rows x 5 columns]

In [45]:
test

     sepal.length  sepal.width  petal.length  petal.width     variety
27            5.2          3.5           1.5          0.2      Setosa
134           6.1          2.6           5.6          1.4   Virginica
135           7.7          3.0           6.1          2.3   Virginica
22            4.6          3.6           1.0          0.2      Setosa
111           6.4          2.7           5.3          1.9   Virginica
103           6.3          2.9           5.6          1.8   Virginica
145           6.7          3.0           5.2          2.3   Virginica
138           6.0          3.0           4.8          1.8   Virginica
75            6.6          3.0           4.4          1.4  Versicolor
120           6.9          3.2           5.7          2.3   Virginica
63            6.1          2.9           4.7          1.4  Versicolor
54            6.5          2.8           4.6          1.5  Versicolor
56            6.3          3.3           4.7          1.6  Versicolor
131           7.9          3.8           6.4          2.0   Virginica
9             4.9          3.1           1.5          0.1      Setosa
105           7.6          3.0           6.6          2.1   Virginica
26            5.0          3.4           1.6          0.4      Setosa
52            6.9          3.1           4.9          1.5  Versicolor
3             4.6          3.1           1.5          0.2      Setosa
64            5.6          2.9           3.6          1.3  Versicolor
37            4.9          3.6           1.4          0.1      Setosa
8             4.4          2.9           1.4          0.2      Setosa
128           6.4          2.8           5.6          2.1   Virginica
92            5.8          2.6           4.0          1.2  Versicolor
35            5.0          3.2           1.2          0.2      Setosa
95            5.7          3.0           4.2          1.2  Versicolor
110           6.5          3.2           5.1          2.0   Virginica
33            5.5          4.2           1.4          0.2      Setosa
18            5.7          3.8           1.7          0.3      Setosa
43            5.0          3.5           1.6          0.6      Setosa
48            5.3          3.7           1.5          0.2      Setosa
142           5.8          2.7           5.1          1.9   Virginica
85            6.0          3.4           4.5          1.6  Versicolor
93            5.0          2.3           3.3          1.0  Versicolor
65            6.7          3.1           4.4          1.4  Versicolor
31            5.4          3.4           1.5          0.4      Setosa
32            5.2          4.1           1.5          0.1      Setosa
90            5.5          2.6           4.4          1.2  Versicolor

In [46]:
train_x = train[['sepal.length','sepal.width','petal.length','petal.width']]

In [47]:
train_y = train.variety

In [48]:
train_x

     sepal.length  sepal.width  petal.length  petal.width
23            5.1          3.3           1.7          0.5
68            6.2          2.2           4.5          1.5
107           7.3          2.9           6.3          1.8
2             4.7          3.2           1.3          0.2
58            6.6          2.9           4.6          1.3
..            ...          ...           ...          ...
125           7.2          3.2           6.0          1.8
36            5.5          3.5           1.3          0.2
149           5.9          3.0           5.1          1.8
80            5.5          2.4           3.8          1.1
124           6.7          3.3           5.7          2.1

[112 rows x 4 columns]

In [49]:
train_y

23         Setosa
68     Versicolor
107     Virginica
2          Setosa
58     Versicolor
          ...
125     Virginica
36         Setosa
149     Virginica
80     Versicolor
124     Virginica
Name: variety, Length: 112, dtype: object

In [50]:
test_x = test[['sepal.length','sepal.width','petal.length','petal.width']]
test_y = test.variety

In [51]:
#SVM
model = svm.SVC()

In [52]:
model.fit(train_x,train_y)
pred = model.predict(test_x)

In [53]:
pred

array(['Setosa', 'Virginica', 'Virginica', 'Setosa', 'Virginica',
       'Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Virginica',
       'Versicolor', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Versicolor',
       'Setosa', 'Setosa', 'Virginica', 'Versicolor', 'Setosa',
       'Versicolor', 'Virginica', 'Setosa', 'Setosa', 'Setosa', 'Setosa',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa',
       'Setosa', 'Versicolor'], dtype=object)

In [60]:
metrics.accuracy_score(pred,test_y)

0.9736842105263158

In [56]:
#DecisionTree
model = DecisionTreeClassifier()

In [57]:
model.fit(train_x,train_y)

DecisionTreeClassifier()

In [58]:
pred = model.predict(test_x)

In [59]:
metrics.accuracy_score(pred,test_y)

0.9736842105263158